In [1]:
import os
os.chdir('C:/Users/vivek/OneDrive/Desktop/balcproject')

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler 
from sklearn import preprocessing, model_selection, metrics
import chart_studio.plotly as py
from plotly.offline import init_notebook_mode, iplot
init_notebook_mode(connected=True)
import plotly.graph_objs as go
import warnings
warnings.filterwarnings('ignore')

In [44]:
df=pd.read_csv('House_price.csv')

In [45]:
pd.set_option('display.max_columns',None)
df.columns = map(str.lower, df.columns)

In [46]:
#taking only Numerical and float variables
cols_to_use = list(df.select_dtypes(include=['float64','int64']).columns)
len(cols_to_use)

38

In [47]:
df=df[cols_to_use]

In [48]:
#missing data
total = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(10)

              Total   Percent
lotfrontage     486  0.166495
garageyrblt     159  0.054471
masvnrarea       23  0.007879
bsmthalfbath      2  0.000685
bsmtfullbath      2  0.000685
garagecars        1  0.000343
bsmtfinsf1        1  0.000343
bsmtfinsf2        1  0.000343
bsmtunfsf         1  0.000343
totalbsmtsf       1  0.000343

In [49]:
for i in cols_to_use:
    df[i].fillna(value = df[i].mean(), inplace=True) #can use median also

In [50]:
#missing data
total = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(10)

              Total  Percent
saleprice         0      0.0
bsmtfinsf1        0      0.0
grlivarea         0      0.0
lowqualfinsf      0      0.0
x2ndflrsf         0      0.0
x1stflrsf         0      0.0
totalbsmtsf       0      0.0
bsmtunfsf         0      0.0
bsmtfinsf2        0      0.0
masvnrarea        0      0.0